.container {
    padding-left: 0px;
    padding-right: 0px;
    min-width: 100%;
    max-width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("./img/BackGjpg.jpg");
    background-position: center;
    background-size: cover;
}

.logo {
    padding-left: 50px;
    padding-top: 4px;
    color: white;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.logo::first-letter {
    color: #ff9d1f;
}


#menuicon {
    visibility: hidden;
    float: right;
    padding-top: 8px;
    width: 35px;
}






.SLG {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 10%;
}

.S1 {
    position: absolute;
    align-self: center;

}

#h1i {
    font-size: 90px;
    color: #ff9d1f;
    font-family: monospace;
    text-shadow: -6px 20px 20px #ff9d1f;
}

#p1 {
    font-size: 11px;
    color: rgb(255, 255, 255);
    line-height: 15px;
    font-family: monospace;
}

